* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#grid1 {
    width: 800px;
    height: 800px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    border: solid 2px blue;
}
#grid2 {
    width: 800px;
    height: 800px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(9, calc(100%/9));
    border: solid 2px blue;
}
#grid3 {
    width: 800px;
    height: 800px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(7, calc(100%/7));
    border: solid 2px blue;
}
.square {
    border: solid 2px yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}


.square:hover {
    background-color: red;
    opacity: 50%;
  }