* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    background-color: black;
}

main {
    padding-top: 50px;
}

#grid {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
   
}

.square.clicked {
    background-color: green;
}